* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    font-family: "Roboto Light", sans-serif;
    color: #5B4348;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCF6F7;
}



